<!-- Ticket Form -->
<div>
    <!--Title for ticket purchasing section-->
    <h1>
        <center>Tickets</center>
    </h1>
    <!--Form-->
    <form>
        <!--Fieldset-->
        <fieldset>
            <!-- Row -->
            <div>
                <!--Input group for name-->
                <div>
                    <label for="name">Name</label><br>
                    <input type="text" id="name" name="name"><br><br>
                </div>
                <!--End Input group for name-->

                <!--Input group for date-->
                <div>
                    <label for="date">Date</label><br>
                    <input type="date" id="date" name="date"><br><br>
                </div>
                <!--End Input group for date-->

                <!--Input group for ticket number -->
                <div>
                    <label for="numberOfTickets">No. of Tickets</label><br>
                    <input type="text" id="numberOfTickets" name="numberOfTickets"><br><br>
                </div>
                <!--End Input group for ticket number-->

            </div>
            <!-- End Row -->
            <!-- Row -->
            <div>
                <!--Data cell for submit button-->
                <button type="submit">Submit</button>

            </div>
            <!-- End Row -->
        </fieldset>
        <!--End fieldset-->
    </form>
    <!--End form-->
</div>
<!-- Ticket Form -->
