<!-- Featured Item-->
<div>
    <!-- featured item img container to make fixed on the top -->
    <div>
        <img src="https://via.placeholder.com/120" alt="part section" height="115" width="215">
    </div>
    <!-- featured item text container to make it centered vertically -->
    <div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus perspiciatis voluptates.
        </p>

    </div>

    <!-- featured item button container to make fixed at bottom -->
    <div>

        <a href="#">find out</a>

    </div>
</div>
<!-- End Featured Item -->
