<!-- Park Map Section -->
<section id="map">
    <img src="images/park_map.png" alt="Park Map" width="950" height="518" usemap="#parkMap">
    <map name="parkMap">
        <!-- point 10 -->
        <area shape="circle" coords="210,98,20" alt="Link" href="#">
        <!-- point 9 -->
        <area shape="circle" coords="136,273,20" alt="Link" href="#">
        <!-- point 8 -->
        <area shape="circle" coords="82,453,20" alt="Link" href="#">
        <!-- point 7 -->
        <area shape="circle" coords="368,447,20" alt="Link" href="#">
        <!-- point 6 -->
        <area shape="circle" coords="453,285,20" alt="Link" href="#">
        <!-- point 5 -->
        <area shape="circle" coords="568,86,20" alt="Link" href="#">
        <!-- point 4 -->
        <area shape="circle" coords="656,194,20" alt="Link" href="#">
        <!-- point 3 -->
        <area shape="circle" coords="701,295,20" alt="Link" href="#">
        <!-- point 2 -->
        <area shape="circle" coords="722,388,20" alt="Link" href="#">
        <!-- point 1 -->
        <area shape="circle" coords="666,483,20" alt="Link" href="#">


    </map>
</section>
<!-- End Map Section -->
