<!-- Park Map Section -->
<section id="map">
    <img src="park_map.png" alt="Park Map" width="1024" height="516" usemap="#parkMap">
    <map name="parkMap">
        <!-- point 10 -->
        <area shape="circle" coords="225,98,20" alt="Link" href="#">
        <!-- point 9 -->
        <area shape="circle" coords="165,273,20" alt="Link" href="#">
        <!-- point 8 -->
        <area shape="circle" coords="93,453,20" alt="Link" href="#">
        <!-- point 7 -->
        <area shape="circle" coords="405,447,20" alt="Link" href="#">
        <!-- point 6 -->
        <area shape="circle" coords="493,285,20" alt="Link" href="#">
        <!-- point 5 -->
        <area shape="circle" coords="618,86,20" alt="Link" href="#">
        <!-- point 4 -->
        <area shape="circle" coords="701,194,20" alt="Link" href="#">
        <!-- point 3 -->
        <area shape="circle" coords="751,295,20" alt="Link" href="#">
        <!-- point 2 -->
        <area shape="circle" coords="788,388,20" alt="Link" href="#">
        <!-- point 1 -->
        <area shape="circle" coords="720,483,20" alt="Link" href="#">


    </map>
</section>
<!-- End Section -->
