/*Custom Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');

/*Common CSS-------------------------------------*/
*
{
    font-family: 'Inter', sans-serif;  
}

.primary-text
{
    color: #0E3967;
}

html, body 
{
    margin: 0;
    padding: 0; 
}

#map
{
    display: grid;
    padding-bottom: 120px;
    padding-left: 220px;
    padding-right: 220px;
}

#map img
{
    width: 100%;
}

/* about.html CSS ------------------------------------*/
#about-contact
{
    display: grid;
    gap: 6.6%;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 65% 35%;
    padding-bottom: 120px;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 80px;
    text-align: center;
}

#about-contact .about-contact-image 
{
    height: 75%;
    width: 75%;     
}


/* For map CSS see common section */


#about-extra
{
    display: grid;
    grid-template-rows: repeat(2, 28% 22%);
    padding-bottom: 120px;
    padding-left: 220px;
    padding-right: 220px;
}

#about-extra .about-extra-row-one
{
    display: grid;
    gap: 5%;
    grid-row: 1 / 3;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10%;
}

#about-extra .about-extra-row-two
{
    display: grid;
    gap: 5%;
    grid-row: 3 / -1;
    grid-template-columns: 1fr 1fr;
}

#about-extra .text
{
    display: grid;
    text-align: center;
}

#about-extra img
{
    height: 100%;
    width: 100%;  
}


#about-reviews
{
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    padding-bottom: 120px;
    padding-left: 220px;
    padding-right: 220px;
    row-gap: 50px;
    text-align: center;
}

#about-reviews .about-reviews-row-one, .about-reviews-row-two
{
    column-gap: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-reviews .review
{
    display: grid;
    grid-template-rows: repeat(4, 0.25fr);
    text-align: center;
}

#about-reviews img
{
    padding-left: 40.5%;
    width: 20%;
}


#about-faq 
{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1.5fr 1fr;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 80px;
    text-align: left;
}

#about-faq h2
{
    text-align: center;  
}

/* Opening Hours Table */
#about-faq td 
{
    padding-left: 30px;
    text-align: left;
}


/* footer ------------------------------------*/
#footer 
{
    background: linear-gradient(#F10A4F, #460116);
    display: grid;
    font-size: 14px;
    grid-template-columns: 30% 30% 40%; 
    padding-bottom: 15px;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 20px;      
}

#footer div.footer-main-links 
{
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    text-align: left;
}

#footer .footer-legal-links
{
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 30px);
    text-align: left;
}

#footer .footer-newsletter
{
    color: white;
    display: grid;
    padding-top: 10px;
    row-gap: 7px; 
    text-align: left;
}  

#footer .footer-newsletter input#input-email
{
    border-radius: 0px 10px 10px 10px;
    height: 140%;
    padding-left: 15px;
    width: 70%;
}

#footer a
{
    color: white;
    text-decoration: none;
}

/* header ------------------------------------*/
#header
{
    background: linear-gradient(to right, rgb(26, 123, 187), rgb(14, 72, 109));
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 220px;
    padding-right: 220px;
}

#header .header-left 
{
    color: white;
    text-align: left;
}

#header .header-right 
{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, auto) 35%;
    text-align: center;
}

#header  button
{
    background-color: #D1AA28;
    border: none;
    border-radius: 10px;
    color: #BE0B41;
    font-family: 'Dancing Script', cursive;
    font-size: large;
    font-weight: bold;
    height: 50%;
    left: 50px;
    top: 15px; 
    width: 60%;
}

#header a
{
    color: white;
    text-decoration: none;
}