<!-- Hero Section -->
<section id="hero">
    <!-- Background img for hero section -->
    <img src="https://via.placeholder.com/

C/O https://placeholder.com/400"
        alt="part section" height="400" width="950">

    <!-- End Hero text container to center the text -->
    <div>
        <h1>Welcome to Theme park</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus perspiciatis voluptates,
            quidem, veritatis aut modi saepe laborum officiis, suscipit doloribus ipsa aliquid delectus illum?
            Ipsum architecto minima expedita tenetur!</p>
    </div>
    <!-- End Hero text container to center the text -->
</section>
<!-- End Hero Section -->
