<!-- Service Item Image to the Left-->
<div>
    <!-- Service item img container to take the Left half of the container -->
    <div>
        <img src="https://via.placeholder.com/246" alt="part section" height="264" width="460">
    </div>

    <!-- Service item text container to take Right side -->
    <div>
        <h2>Title</h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus perspiciatis voluptates.
        </p>

        <button>
            <a href="#">find out More</a>
        </button>
    </div>

</div>
<!-- End Services Item image to the  Left-->

<!-- Service Item  Image to the Right-->
<div>

    <!-- Service item text container to take Left side -->
    <div>
        <h2>Title </h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus perspiciatis voluptates.
        </p>

        <button>
            <a href="#">find out More</a>
        </button>
    </div>


    <!-- Service item img container to take the Right half of the container -->
    <div>
        <img src="https://via.placeholder.com/246" alt="part section" height="264" width="460">
    </div>
</div>
<!-- End Services Item  image to the  Right-->
