<!-- Footer -->
<footer id="footer">
    <!-- Container-->
    <div>
        <!-- Main Pages links -->
        <div>
            <a href="index.html">Home</a>
            <a href="services.html">Services</a>
            <a href="about.html">About Park</a>
        </div>
        <!-- End Main Pages links -->

        <!-- Legal Pages links -->
        <div>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookies</a>
        </div>
        <!-- End Legal Pages links -->

        <!-- Newsletter Form -->
        <div>
            <form>
                <label for="input-email">Sign up to get the latest offers</label>
                <input type="email" name="email" id="input-email" placeholder="example@website.com">
            </form>
        </div>
        <!-- End Newsletter Form -->
    </div>

</footer>
<!-- End Footer -->
