<!-- Address General Info -->
<div class="about-contact-info">
    <!-- Make the image stick to top  half -->
    <div>
        <img src="./img/address.jpg" alt="image" class="about-contact-image" width="215" height="200">
    </div>

    <!-- Make the content stick to bottom half -->
    <div>
        <h3>Address</h3>
        <address id="about-address">
            4832 Liberty Avenue<br>
            Irvine<br>
            California
        </address>
    </div>

</div>
<!-- End Address General Info -->


<!-- Phone General Info -->
<div class="about-contact-info">
    <!-- Make the image stick to top  half -->
    <div>
        <img src="./img/address.jpg" alt="image" class="about-contact-image" width="215" height="200">
    </div>

    <!-- Make the content stick to bottom half -->
    <div>
        <h3>Phone Numbers</h3>
        <a href="tel:+1949300856">+1 949-300-856</a> <br />
        <a href="tel:+17144709621">+1 714-470-9621</a>
    </div>

</div>
<!-- End Phone General Info -->


<!-- Email General Info -->
<div class="about-contact-info">
    <!-- Make the image stick to top  half -->
    <div>
        <img src="./img/address.jpg" alt="image" class="about-contact-image" width="215" height="200">
    </div>

    <!-- Make the content stick to bottom half -->
    <div>
        <h3>Email Enquiries </h3>
        <a href="mailto:email@website.com">email@website.com</a>
    </div>

</div>
<!-- End Email General Info -->


<!-- Chat General Info -->
<div class="about-contact-info">
    <!-- Make the image stick to top  half -->
    <div>
        <img src="./img/address.jpg" alt="image" class="about-contact-image" width="215" height="200">
    </div>

    <!-- Make the content stick to bottom half -->
    <div>
        <h3>Live Chat</h3>
        <a href="https://wa.me/+17144709621">+1 714-470-9621</a>
    </div>

</div>
<!-- End Chat General Info -->
