@import url("index.css");
@import url("animations.css");
.section-attractions {
	display: grid;
	grid-template-rows: auto ; /* 1fr 522px  height - 50% 522px + 32 px */
	grid-template-columns: 1fr;
	grid-row-gap: 4rem; /* 64px */
	text-align: center;
}

.section-food {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 4rem;
	text-align: center;
}

.btn-tickets {
	width: 20rem;
	height: 3rem;
}

.tickets-input {
	width: 100%;
	height: 3rem;
	border-radius: var(--border-radius);
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
}

.tickets-label {
	text-align: left;
	float: left;
	padding-left: 1rem;
	font-size: 1.25rem;
	font-weight: 700;
	width: 100%;
}


.list-regulations{
	display: grid;
	justify-content: center;
	row-gap: .5rem;
}