<!-- Attraction Item-->
<div>
    <!-- Attraction item img container to make fixed on the top -->
    <div>
        <img src="https://via.placeholder.com/120" alt="part section" height="115" width="215">
    </div>
    <!-- Attraction item text container to make it centered vertically -->
    <div>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil natus perspiciatis voluptates.
        </p>

    </div>

    <!-- Attraction Regulation text container to make fixed at bottom -->
    <div>
        <h3>Title</h3>
        <ul>
            <li>xx cm - xx feet</li>
            <li>xx kg - xx lbs</li>
        </ul>
    </div>
</div>
<!-- End Attraction Item -->
